page-signup {
    .divimage{
        text-align: center;
        padding-top:10px;
    }
    img{
        height:200px;
       
    }
    .changefont{
        font-size:3em;
        text-align: center;
        color: #004d6f

    }
    .inputs{
        width:90%;
        margin: 0 auto;
        margin-top:-30px
       }
       .inputfields{
        margin-top:10px;
        background:rgb(0,77,111);
        border-radius: 100px;
        color:white;
    }
    ion-item{
        border-bottom: 0px solid transparent !important;
    }
    .btndiv{
        text-align: center;
        button{
         width:60%;
         border-radius: 100px;
        }
    }
}
